$content-width: 1400px;

$primary-bg-color: #ffffff;
$secondary-bg-color: #fbfbfb;
$button-bg-color: #009cb4;
$reminder-bg-color: #009cb4;

$title-text-color: #231f20;
$paragraph-text-color: #676a71;
$paragraph-text-light-color: #a8aaae;
$table-text-color: #4d4d4f;
$label-text-color: #4d4d4f;
$pagination-text-color: #4d4d4f;
$counter-text-color: #009cb4;
$attention-text-color: #009cb4;
$button-text-color: #ffffff;
$reminder-text-color: #ffffff;
$placeholder-text-color: #c6c6c6;

$pagination-border-color: #ededf4;

$hover-element-color: #01b8d4;
$active-element-color: #01bedb;
