body {
  font-family: 'Manrope', sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #ffffff;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
  color: #231f20;
}

h2 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #231f20;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #231f20;
}

input {
  outline: none;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
}

input::-webkit-input-placeholder {
  color: #c6c6c6;
}

input:-ms-input-placeholder {
  color: #c6c6c6;
}

input::-ms-input-placeholder {
  color: #c6c6c6;
}

input::placeholder {
  color: #c6c6c6;
}

.wrapper {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  -webkit-filter: drop-shadow(0px 4px 30px rgba(198, 199, 209, 0.1));
          filter: drop-shadow(0px 4px 30px rgba(198, 199, 209, 0.1));
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  padding: 20px 115px 20px 115px;
}

.header__wrapper .header__left-side {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.header__wrapper .header__left-side::before {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 210px;
  width: 24px;
  height: 24px;
  content: '';
  background: no-repeat center/cover url("./assets/icons/search.svg");
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__wrapper .header__left-side .left-side__logo {
  width: 170px;
  height: 40px;
  background: no-repeat center url("./assets/logo.svg");
}

.header__wrapper .header__left-side .left-side__search {
  position: relative;
  width: 270px;
  padding: 14.5px 186px 14.5px 40px;
  margin: 0 30px;
  border-radius: 5px;
  background-color: #fbfbfb;
}

.header__wrapper .header__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.header__wrapper .header__right-side .right-side__notes-calendar {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 50%;
  background: #fbfbfb no-repeat center url("./assets/icons/notes-calendar-default.svg");
  cursor: pointer;
}

.header__wrapper .header__right-side .right-side__bell {
  position: relative;
  width: 48px;
  height: 48px;
  padding: 12px;
  margin: 0 20px;
  border-radius: 50%;
  background: #fbfbfb no-repeat center url("./assets/icons/bell-custom.svg");
  cursor: pointer;
}

.header__wrapper .header__right-side .right-side__bell:after {
  z-index: 9;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 18px;
  height: 18px;
  content: '4';
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #009cb4;
}

.header__wrapper .header__right-side .right-side__separation {
  width: 2px;
  height: 48px;
  background-color: #fbfbfb;
}

.header__wrapper .header__right-side .right-side__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin: 0 0 0 20px;
}

.header__wrapper .header__right-side .right-side__info .info__logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: no-repeat center url("./assets/images/user.png");
}

.header__wrapper .header__right-side .right-side__info .info__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__wrapper .header__right-side .right-side__info .info__name .user-name {
  font-size: 1.6rem;
  font-weight: 500;
}

.header__wrapper .header__right-side .right-side__info .info__name .upper-arrow {
  width: 14px;
  height: 8px;
  margin-left: 20px;
  background: no-repeat center url("./assets/icons/upper-arrow.svg");
  cursor: pointer;
}

.information {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #fbfbfb;
}

.information__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding: 0 115px;
}

.information__wrapper .information__left-side {
  width: 450px;
  font-size: 0;
}

.information__wrapper .information__left-side .left-side__title {
  text-transform: uppercase;
  line-height: 6rem;
  margin-bottom: 20px;
}

.information__wrapper .information__left-side .left-side__text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #676a71;
}

.information__wrapper .information__left-side .left-side__text:first-of-type {
  margin-bottom: 20px;
}

.information__wrapper .information__left-side .left-side__text:not(.left-side__text:nth-of-type(1)) {
  font-size: 2rem;
  font-weight: 600;
}

.information__wrapper .information__left-side .left-side__text:last-of-type {
  margin-bottom: 40px;
}

.information__wrapper .information__left-side .left-side__text .counter {
  color: #009cb4;
}

.information__wrapper .information__left-side .left-side__search-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 56px;
}

.information__wrapper .information__left-side .left-side__search-block::before {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 17.5px;
  width: 24px;
  height: 24px;
  content: '';
  background: no-repeat center/cover url("./assets/icons/search.svg");
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.information__wrapper .information__left-side .left-side__search-block .search-area {
  width: 330px;
  height: 100%;
  padding: 14.5px 17.5px 14.5px 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ffffff;
}

.information__wrapper .information__left-side .left-side__search-block .search-button {
  width: 120px;
  height: 100%;
  padding: 15.5px 27.5px;
  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #009cb4;
  cursor: pointer;
}

.information__wrapper .information__right-side {
  width: 505px;
  height: 502px;
}

.information__wrapper .information__right-side .left-side__office-work {
  -o-object-fit: cover;
     object-fit: cover;
}

.registers {
  width: 100%;
  background-color: #ffffff;
}

.registers__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 80px 115px;
}

.registers__wrapper .registers__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 40px;
}

.registers__wrapper .registers__title .title__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  width: 100%;
}

.registers__wrapper .registers__title .title__filter .icon-filter,
.registers__wrapper .registers__title .title__filter .icon-dots {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.registers__wrapper .registers__title .title__filter .icon-filter {
  background: no-repeat center url("./assets/icons/filter.svg");
}

.registers__wrapper .registers__title .title__filter .icon-dots {
  background: no-repeat center url("./assets/icons/three-dots-vertical.svg");
}

.registers__wrapper .registers__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 40px;
}

.registers__wrapper .registers__table .table__title,
.registers__wrapper .registers__table .table__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  width: 100%;
  border-bottom: 1px solid #ededf4;
  font-size: 0;
}

.registers__wrapper .registers__table .table__title li,
.registers__wrapper .registers__table .table__description li {
  padding: 20px 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: #4d4d4f;
}

.registers__wrapper .registers__table .table__title li:nth-child(1),
.registers__wrapper .registers__table .table__description li:nth-child(1) {
  padding-left: 35px;
  width: 188px;
}

.registers__wrapper .registers__table .table__title li:nth-child(2),
.registers__wrapper .registers__table .table__description li:nth-child(2) {
  padding-left: 35px;
  width: 267px;
}

.registers__wrapper .registers__table .table__title li:nth-child(3),
.registers__wrapper .registers__table .table__description li:nth-child(3) {
  width: 57px;
}

.registers__wrapper .registers__table .table__title li:nth-child(4),
.registers__wrapper .registers__table .table__description li:nth-child(4) {
  width: 173px;
}

.registers__wrapper .registers__table .table__title li:nth-child(5),
.registers__wrapper .registers__table .table__description li:nth-child(5) {
  width: 108px;
}

.registers__wrapper .registers__table .table__title li:nth-child(6),
.registers__wrapper .registers__table .table__description li:nth-child(6) {
  width: 77px;
}

.registers__wrapper .registers__table .table__title {
  border-top: 1px solid #ededf4;
}

.registers__wrapper .registers__table .table__title li {
  position: relative;
  color: #009cb4;
}

.registers__wrapper .registers__table .table__title li:nth-child(1)::before, .registers__wrapper .registers__table .table__title li:nth-child(2)::before {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  content: '';
  background: no-repeat center/cover url("./assets/icons/arrow-left-right.svg");
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  cursor: pointer;
}

.registers__wrapper .registers__table .table__description .link-d a {
  color: #009cb4;
}

.registers__wrapper .registers__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 488px;
  height: 40px;
  border: 1px solid #ededf4;
  border-radius: 5px;
  font-size: 0;
}

.registers__wrapper .registers__pagination li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #4d4d4f;
}

.registers__wrapper .registers__pagination li:not(.pagination__dots) {
  cursor: pointer;
}

.registers__wrapper .registers__pagination .pagination__chevron-left {
  background: no-repeat center/cover url("./assets/icons/double-upper-arrow-custom.svg");
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.registers__wrapper .registers__pagination .pagination__chevron-right {
  background: no-repeat center/cover url("./assets/icons/double-upper-arrow-default.svg");
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.registers__wrapper .registers__pagination .pagination__arrow-left {
  background: no-repeat center/cover url("./assets/icons/upper-arrow.svg");
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.registers__wrapper .registers__pagination .pagination__arrow-right {
  background: no-repeat center/cover url("./assets/icons/upper-arrow.svg");
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.registers__wrapper .registers__pagination .pagination__dots {
  cursor: default;
}

.registers__wrapper .registers__pagination .number-active {
  color: #ffffff;
  background-color: #009cb4;
}

.news {
  width: 100%;
  background-color: #fbfbfb;
}

.news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 80px 115px;
}

.news__wrapper .news__title {
  margin-bottom: 40px;
}

.news__wrapper .news__headlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  width: 100%;
  margin-bottom: 40px;
}

.news__wrapper .news__headlines .headlines__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 370px;
}

.news__wrapper .news__headlines .headlines__item .item__link {
  margin-bottom: 20px;
}

.news__wrapper .news__headlines .headlines__item .item__date {
  position: relative;
  padding: 10px 0 10px 35px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #a8aaae;
}

.news__wrapper .news__headlines .headlines__item .item__date::before {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  content: '';
  background: no-repeat center/contain url("./assets/icons/notes-calendar-custom.svg");
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news__wrapper .news__headlines .headlines__item .item__text-preview {
  color: #676a71;
}

.news__wrapper .news__link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 15.5px 74.5px;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  background-color: #009cb4;
}

.documents {
  width: 100%;
  background-color: #ffffff;
}

.documents__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 80px 115px;
}

.documents__wrapper .documents__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 40px;
}

.documents__wrapper .documents__title .title__description {
  margin-bottom: 10px;
}

.documents__wrapper .documents__title .title__counter {
  font-size: 1.8rem;
  font-weight: 600;
  color: #676a71;
}

.documents__wrapper .documents__title .title__counter .counter {
  color: #009cb4;
}

.documents__wrapper .documents__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.documents__wrapper .documents__table .table__title,
.documents__wrapper .documents__table .table__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 74px;
          column-gap: 74px;
  width: 100%;
  border-bottom: 1px solid #ededf4;
  font-size: 0;
}

.documents__wrapper .documents__table .table__title li,
.documents__wrapper .documents__table .table__description li {
  padding: 20px 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: #4d4d4f;
}

.documents__wrapper .documents__table .table__title li:nth-child(1),
.documents__wrapper .documents__table .table__description li:nth-child(1) {
  width: 170px;
}

.documents__wrapper .documents__table .table__title li:nth-child(2),
.documents__wrapper .documents__table .table__description li:nth-child(2) {
  width: 390px;
}

.documents__wrapper .documents__table .table__title li:nth-child(3),
.documents__wrapper .documents__table .table__description li:nth-child(3) {
  width: 90px;
}

.documents__wrapper .documents__table .table__title li:nth-child(4),
.documents__wrapper .documents__table .table__description li:nth-child(4) {
  width: 55px;
}

.documents__wrapper .documents__table .table__title li:nth-child(5),
.documents__wrapper .documents__table .table__description li:nth-child(5) {
  width: 165px;
}

.documents__wrapper .documents__table .table__title {
  border-top: 1px solid #ededf4;
}

.documents__wrapper .documents__table .table__title li {
  position: relative;
  color: #009cb4;
}

.documents__wrapper .documents__table .table__title li:last-child {
  padding-left: 35px;
}

.documents__wrapper .documents__table .table__title li:last-child::before {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  content: '';
  background: no-repeat center/cover url("./assets/icons/paper-custom.svg");
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  cursor: pointer;
}

.documents__wrapper .documents__table .table__description .content-d a {
  position: relative;
  display: block;
  padding-left: 35px;
  color: #009cb4;
  text-decoration: none;
}

.documents__wrapper .documents__table .table__description .content-d a::before {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  content: '';
  background: no-repeat center/cover url("./assets/icons/download-custom.svg");
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */